/*
我们自己css样式
 */

/*
公共样式
*/
body{
    font-family:  "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
@font-face {
    font-family: 'itcast';
    src: url('../font/MiFie-Web-Font.eot') format('embedded-opentype'),
    url('../font/MiFie-Web-Font.svg') format('svg'),
    url('../font/MiFie-Web-Font.ttf') format('truetype'),
    url('../font/MiFie-Web-Font.woff') format('woff');
}
[class^="icon-"],[class*=" icon-"]{
    font-family: itcast;
    font-style:normal; /*控制字体图标,不让他倾斜*/
}
/**
字体图标
 */
.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}
.icon-logo::before {
    content: "\e93e";
    font-size: 15px;
}

.icon-icon::before {
    content: "\e920";
}

/**
* 头部区域
 */
#header{
    /*height:200px;*/

}
/*使用直接子代,避免冲突*/
#header>.topbar{
     height:40px;
     border-bottom:1px solid #c0c0c0;
     line-height:40px;
 }
/*加上表头的中间竖线,,,,列表中间分割线的做法*/
#header>.topbar>.container>.row>div{
    height:40px;
    color:#888;
    font-size:12px;
}
#header>.topbar>.container>.row>div + div{
    border-left:1px solid #c0c0c0;
}


#header .mobile-link{
    color:#888;
    font-size:12px;

}
#header .mobile-link:hover{
  text-decoration:none;
}
/*二维码图片与a标签之间有距离,不能点击二维码标签
要设置绝对定位,找到相对定位的父亲,设置left top的值
margin-left作用是让居中,*/

#header .mobile-link>img{
   display:none;
    position:absolute;
    left:50%;
    top:30px;
    margin-left:-60px;
    z-index:1001;
}
#header .mobile-link:hover>img{
    display:block;

}




/*#header>.topbar>.container{
    height:40px;
    background-color: #28a4c9;
}*/
/**
*  通栏广告轮播,样式.
 */

#main_id {

}
#main_id > .carousel-inner > .item {
    /*height:410px;*/
    background-repeat:no-repeat;
    background-position:center center;
    /*新知识点*/
    background-size:cover;
}
/*什么时候不能用410这个高度*/

/*可以通过媒体查询的方式进行控制*/
/*当屏幕宽度大于768时候才会执行*/
@media (min-width : 768px) {
    #main_id > .carousel-inner > .item {
        height:410px;
    }
}

#main_id > .carousel-inner > .item >img {
    width : 100%;
}
/**
    网站特色样式设计
 */
#tese{
    padding:50px 0;
    border-bottom: 1px solid #c0c0c0;
}
#tese > .container > .row > div {
    margin-bottom:20px;
}
/*#tese > .container > .row > div {*/
    /*height:50px;*/
    /*background-color:#f40;*/

/*}*/
/*#tese > .container >.row> div:nth-of-type(2n) {*/
  /*background-color: pink;*/
/*}*/

/*立即预约样式设计*/
#ljyy {
    border-bottom: 1px solid #c0c0c0;
}
#ljyy > .container > p{
    line-height:60px;
    font-size: 14px;
}
#ljyy > .container > .pull-left > span,
#ljyy > .container > .pull-left > a   {
    color:#e92322;
}
#ljyy > .container > .pull-left > a {
    border-bottom: 1px dashed  #e92322;
}

#ljyy > .container > .pull-left > a:hover {
    text-decoration:none;
}

/*字体图标*/

.icon-uniE906:before {
    content: "\e906";
}
.icon-uniE905:before {
    content: "\e905";
}


/*产品推荐样式*/
#products {
    background-color: #f0f0f0;
    padding: 40px 0;
}

#products > .container > .nav-tabs {
    padding-left: 20px;
}

#products > .container > .nav-tabs > li {}

#products > .container > .nav-tabs > li > a {
    font-size: 16px;
    color: #333;
}

#products > .container > .nav-tabs > li > a:hover {
    border-color: transparent;
    background-color: transparent;
    color: #000;
}

#products > .container > .nav-tabs > li.active {}

#products > .container > .nav-tabs > li.active > a {
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid #e92322;
}

#products > .container > .tab-content {
    padding: 20px 0;
}

#products > .container > .tab-content p {
    margin-bottom: 0;
}






/**
测试样式
 */
/*section{*/
    /*height:200px;*/
    /*background-color:#fff;*/
/*}*/
/*section:nth-of-type(2n){*/
    /*background-color: #f5f5f5;*/
/*}*/

/*新闻注释*/
#news{
    padding:50px 0;
}
#news .news-title{
    padding:15px 0;
    font-size: 10px;
    text-align: center;
    border-bottom:1px dashed #c0c0c0;
}

#news .news-title ::after{
    content: ' ';
    display:inline-block;
    width:10px;
    height:10px;
    border-radius: 5px;
    border:1px solid #c0c0c0;
    position: absolute;
    bottom: -5px;
    right: -10px;

}

.icon-news01:before {
    content: "\e90e";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news02:before {
    content: "\e90f";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news03:before {
    content: "\e910";
    font-size: 28px;
    color: #EAEAEA;
}

.icon-news04:before {
    content: "\e911";
    font-size: 28px;
    color: #EAEAEA;
}



/**
*  脚部区域
 */
#footer{
    height:200px;
}











/**
Bootstrap 扩展
 */

.panel-czbk {
    border-color: #ddd;
}
.panel-czbk > .panel-heading {
    width: 120px;
    padding: 0;
    height: 150px;
    border-left: 1px dashed #c0c0c0;
    text-align: center;
    float: right;
}
.panel-czbk > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
}
.panel-czbk > .panel-heading .badge {
    color: #f5f5f5;
    background-color: #333;
}
.panel-czbk > .panel-body {
    margin-right: 120px;
    height: 150px;
}



.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
    background-color: #E92322;
    border-color: #DB3B43;
}



.btn-itcast .badge {
    color: #E92322;
    background-color: #ffffff;
}

.navbar-itcast {
    background-color: #fff;
    border-color: #f5f5f5;
    margin-bottom:0;
}

.navbar-itcast .navbar-brand {
    color: #777;
    height: 80px;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-itcast .navbar-text {
    color: #777;
}

.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height: 48px;
    font-size: 14px;
}

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}

.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-itcast .navbar-link {
    color: #777;
}

.navbar-itcast .navbar-link:hover {
    color: #333;
}

.navbar-itcast .btn-link {
    color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}
